body {
    margin: 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

nav {
    height: 50px;
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

#logo {
    background-image: url("../img/StarLabsWhite.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

nav div a {
    font-family: 'Comfortaa', 'Times New Roman', cursive;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0px 30px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sbarra{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.9;
    margin-top: 450px;
}
section .sbarra
{
    margin:0px;
    opacity: 1.0;

}
.sbarra h1
{
    font-family: 'Julius Sans One', sans-serif;
    text-transform: capitalize;
    color:white;
    font-size: 40px;
    font-style: normal;
    border-bottom: none;
    margin: 0px;
}
.sbarra img
{
    height: 48px;
    width: 48px;
}

header a:hover {
    background-color: rgb(109, 108, 108);
    border-radius: 10px;
}

.button {
    text-transform: uppercase;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}

header {
    height: 500px;
    background-image: url("../img/pexels-chokniti-khongchum-2280547.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottoni{

    cursor: pointer;
    margin-top: 3%;
    margin-left: 1%;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    padding: 5px 15px;
    border: 2px solid rgba(0, 0, 0, 0.329);
}



#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:30px;
}

section {
    font-family: 'Comfortaa', 'Times New Roman', cursive;

}

#main div{

    text-transform: uppercase;
    color:black;
    border-radius: 10px;
    text-decoration:none;
    background-image: url("../img/es.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-out 500ms;
    position: relative;
    padding:30px;
    margin:40px;
    width: 30%;
}
#main p{
    font-weight: bold;

}
.immagini_principali {
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
}
.sed{
    background-color: rgba(0, 139, 139, 0.94);
    border-radius: 5px;

    color: white;
    padding: 10px;
}
.pointer{
    cursor:pointer;
}
footer {
    height: 70px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 14, 0.918);
}

footer p {
    text-align: center;
    color: white;
}

footer>img {
    margin: 10px;
    height: 20px;
    width: 20px;
}

#menutendina div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

#menutendina {
    display: none;
}

@media(max-width:500px) {
    body {
        font-size: 15px;
    }

    header {
        width: 100%;
    }

    #menu,
    header nav a {
        display: none;
    }

    #menutendina {
        display: block;
    }

   #main div{
       padding:30px;
       margin:40px;
       width: 100%;
   }
}